@model FeedbackDetailVM
@{
    ViewData["Title"] = "FeedbackDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="post d-flex flex-column-fluid" id="kt_post">

    <div id="kt_content_container" class="container-xxl">

        <div class="d-flex flex-column flex-xl-row" style="justify-content: center;">

            <div class="flex-column flex-lg-row-auto w-100 w-xl-600px mb-10">

                <div class="card mb-5 mb-xl-8">

                    <div class="card-body">

                        <div class="d-flex flex-center flex-column py-5">
                            @if (Model.feedback == null)
                            {
                                @if (Model.userFeedback.Feedback.FeedbackFile != null)
                                {
                                    <div class="symbol symbol-100px symbol-circle mb-7">
                                        <img src="~/img/@Model.userFeedback.Feedback.FeedbackFile" alt="image">
                                    </div>
                                }

                                else if (Model.feedback.FeedbackFile != null)
                                {
                                    <div class="symbol symbol-100px symbol-circle mb-7">
                                        <img src="~/img/@Model.feedback.FeedbackFile" alt="image">
                                    </div>
                                }
                            }



                            @if (Model.feedback == null)
                            {
                                <span href="#" class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">@Model.userFeedback.Feedback.FeedbackCategory.CategoryName</span>

                            }
                            else if (Model.userFeedback == null)
                            {
                                <span href="#" class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">@Model.feedback.FeedbackCategory.CategoryName</span>

                            }

                            <div class="mb-9">

                                <div class="badge badge-lg badge-light-primary d-inline">Müştəri feedback`i</div>

                            </div>

                        </div>

                        <div class="d-flex flex-stack fs-4 py-3">
                            <div class="fw-bolder rotate collapsible" data-bs-toggle="collapse" href="#kt_user_view_details" role="button" aria-expanded="true" aria-controls="kt_user_view_details">
                                Detallı
                                <span class="ms-2 rotate-180">
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
                                        </svg>
                                    </span>
                                </span>
                            </div>

                        </div>

                        <div class="separator"></div>

                        <div id="kt_user_view_details" class="collapse show" style="">
                            <div class="pb-5 fs-6">
                                @{
                                    var statusAZ = "";
                                    var badgeColor = "";
                                }

                                @if (Model.feedback == null)
                                {
                                    if (Model.userFeedback.Feedback.FeedbackStatus == Entity.Enums.FeedbackStatus.inProgress)
                                    {
                                        statusAZ = "İcrada";
                                        badgeColor = "badge-light-warning";
                                    }
                                    if (Model.userFeedback.Feedback.FeedbackStatus == Entity.Enums.FeedbackStatus.Pending)
                                    {
                                        statusAZ = "Gözləmədə";
                                        badgeColor = "badge-light";
                                    }
                                    if (Model.userFeedback.Feedback.FeedbackStatus == Entity.Enums.FeedbackStatus.Approved)
                                    {
                                        statusAZ = "Təsdiqləndi";
                                        badgeColor = "badge-light-success";
                                    }
                                    if (Model.userFeedback.Feedback.FeedbackStatus == Entity.Enums.FeedbackStatus.Rejected)
                                    {
                                        statusAZ = "Ləğv edildi";
                                        badgeColor = "badge-light-danger";
                                    }
                                }
                                else if (Model.userFeedback == null)
                                {
                                    if (Model.feedback.FeedbackStatus == Entity.Enums.FeedbackStatus.inProgress)
                                    {
                                        statusAZ = "İcrada";
                                        badgeColor = "badge-light-warning";
                                    }
                                    if (Model.feedback.FeedbackStatus == Entity.Enums.FeedbackStatus.Pending)
                                    {
                                        statusAZ = "Gözləmədə";
                                        badgeColor = "badge-light";
                                    }
                                    if (Model.feedback.FeedbackStatus == Entity.Enums.FeedbackStatus.Approved)
                                    {
                                        statusAZ = "Təsdiqləndi";
                                        badgeColor = "badge-light-success";
                                    }
                                    if (Model.feedback.FeedbackStatus == Entity.Enums.FeedbackStatus.Rejected)
                                    {
                                        statusAZ = "Ləğv edildi";
                                        badgeColor = "badge-light-danger";
                                    }
                                }
                                
                                <div class="fw-bolder mt-5 text-primary">Müştəri ID</div>
                                @if (Model.feedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5">ID - @Model.userFeedback.Feedback.ID</div>

                                }
                                else if (Model.userFeedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5">ID - @Model.feedback.ID</div>

                                }





                                <div class="fw-bolder mt-5 text-primary">Ad soyad</div>
                                @if (Model.feedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5">@Model.userFeedback.Feedback.CustomerName @Model.userFeedback.Feedback.CustomerSurname</div>

                                }
                                else if (Model.userFeedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5">@Model.feedback.CustomerName @Model.feedback.CustomerSurname</div>

                                }


                                <div class="fw-bolder mt-5 text-primary">E-poçt adresi</div>
                                @if (Model.feedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5">@Model.userFeedback.Feedback.CustomerEmail</div>

                                }
                                else if (Model.userFeedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5">@Model.feedback.CustomerEmail</div>

                                }



                                <div class="fw-bolder mt-5 text-primary">Tarix</div>
                                @if (Model.feedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5">@Model.userFeedback.Feedback.CreatedDate</div>

                                }
                                else if (Model.userFeedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5">@Model.feedback.CreatedDate</div>

                                }



                                <div class="fw-bolder mt-5 text-primary">Feedback statusu</div>

                                @if (Model.feedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5 badge badge-lg @badgeColor">@statusAZ</div>

                                }
                                else if (Model.userFeedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5 badge badge-lg @badgeColor">@statusAZ</div>

                                }



                                <div class="fw-bolder mt-5 text-primary">Feedback</div>
                                @if (Model.feedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5">@Model.userFeedback.Feedback.FeedbackDesc</div>

                                }
                                else if (Model.userFeedback == null)
                                {
                                    <div class="text-gray-800 fw-normal mb-5">@Model.feedback.FeedbackDesc</div>

                                }
                                <hr />

                                @if (Model.feedback == null)
                                {
                                    @if (Model.userFeedback.SecretaryNote != null)
                                    {
                                        <div class="fw-bolder mt-5 text-primary">@Model.userFeedback.Feedback.FeedbackCategory.Department.DepName HR feedbacki</div>
                                        <div class="text-gray-800 fw-normal mb-5">@Model.userFeedback.HRNote</div>
                                    }
                                    @if (Model.userFeedback.HRNote != null)
                                    {
                                        <div class="fw-bolder mt-5 text-primary">Geri feedback-iniz</div>
                                        <div class="text-gray-800 fw-normal mb-5">@Model.userFeedback.SecretaryNote</div>
                                    }
                                }
                                else if (Model.userFeedback == null)
                                {

                                }


                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

