@model List<UserFeedback>
@{
    ViewData["Title"] = "HRFeedbackList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="post d-flex flex-column-fluid" id="kt_post">
  
    <div id="kt_content_container" class="container-xxl">
        
        <div class="card">
            
            <div class="card-header border-0 pt-6">
               
                <div class="card-title">
                   
                    <h2>Təklif və şikayətlər</h2>
                    
                </div>

            </div>
          
            <div class="card-body pt-0">
                @if (TempData["HRNoteSended"] != null)
                {

                    <div class="badge badge-lg badge-light-success" id="temp-message">
                        <strong></strong>@TempData["HRNoteSended"]
                        <div class="btn btn-sm btn-icon btn-active-color-primary" id="close-btn">
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                                </svg>
                            </span>
                        </div>
                    </div>
                }
                <div class="dataTables_wrapper dt-bootstrap4 no-footer" id="kt_subscriptions_table_wrapper">
                    <div class="table-responsive">
                        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_subscriptions_table secretary-table">
                            <thead>
                                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                    <th class="min-w-50px">ID</th>
                                    <th class="min-w-125px">Ad soyad</th>
                                    <th class="min-w-125px">E-poçt</th>
                                    <th class="min-w-125px">KATEQORİYA</th>
                                    <th class="min-w-125px">Status</th>
                                    <th class="min-w-125px">TARİX</th>
                                    <th class="text-end min-w-70px">FUNKSİYALAR</th>
                                </tr>
                            </thead>
                         

                            <tbody class="text-gray-600 fw-bold">
                                @if (Model.Count() == 0)
                                {
                                    <h2 class="text-center">Hal-hazırda gözləyən feedback yoxdur</h2>
                                }
                                @foreach (UserFeedback feedback in Model)
                                {
                                    var color = "";
                                    var textColor = "";
                                    var statusAZ = "";
                                    var pending = Entity.Enums.FeedbackStatus.Pending;
                                    var inProgress = Entity.Enums.FeedbackStatus.inProgress;
                                    var approved = Entity.Enums.FeedbackStatus.Approved;
                                    var rejected = Entity.Enums.FeedbackStatus.Rejected;
                                    if (feedback.Feedback.FeedbackStatus == pending)
                                    {
                                        color = "badge-light";
                                        textColor = "#cdcdde";
                                        statusAZ = "Gözləmədə";
                                    }
                                    else if (feedback.Feedback.FeedbackStatus == inProgress)
                                    {
                                        color = "badge-light-warning";
                                        textColor = "#ffa800";
                                        statusAZ = "Yoxlanışdadır";

                                    }
                                    else if (feedback.Feedback.FeedbackStatus == approved)
                                    {
                                        color = "badge-light-success";
                                        textColor = "#0bb783";
                                        statusAZ = "Təsdiq edilib";


                                    }
                                    else if (feedback.Feedback.FeedbackStatus == rejected)
                                    {
                                        color = "badge-light-danger";
                                        textColor = "#f64e60";
                                        statusAZ = "Ləğv edilib";

                                    }
                                    <tr>
                                        <td style="font-weight:bold;" class="text-gray-800 text-hover-primary mb-1">@feedback.ID</td>
                                        <td class="text-gray-800 text-hover-primary mb-1">
                                            @feedback.Feedback.CustomerName @feedback.Feedback.CustomerSurname
                                        </td>
                                        <td class="text-gray-800 text-hover-primary mb-1">@feedback.Feedback.CustomerEmail</td>

                                        <td class="text-gray-800 text-hover-primary mb-1">@feedback.Feedback.FeedbackCategory.CategoryName</td>

                                        <td>
                                            <div style="color:@textColor;" class="badge badge-lg @color text-gray-800 text-hover-primary mb-1">@statusAZ</div>

                                        </td>
                                        <td class="text-gray-800 text-hover-primary mb-1">@feedback.Feedback.CreatedDate.ToString("MMM dd yyyy, HH:mm")</td>

                                        <td class="text-end">
                                            <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                                Seç
                                                <span class="svg-icon svg-icon-5 m-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black" />
                                                    </svg>
                                                </span>
                                              
                                            </a>
                                          
                                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                                               
                                                <div class="menu-item px-3">
                                                    <a href="/account/hrfeedbackdetails/@feedback.ID" class="menu-link px-3">Detallı</a>
                                                </div>
                                              
                                                <div class="menu-item px-3">
                                                    <a href="/account/deletefeedback/@feedback.ID" class="menu-link px-3">Sil</a>
                                                </div>
                                             
                                            </div>
                                           
                                        </td>
                                       
                                    </tr>
                                }


                            </tbody>
                          
                        </table>
                    </div>
                </div>

                @if (TempData["DeleteSucceeded"] != null)
                {

                    <div class="badge badge-lg badge-light-success" id="temp-message">
                        <strong></strong> @TempData["DeleteSucceeded"]
                        <div class="btn btn-sm btn-icon btn-active-color-primary" id="close-btn">
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                                </svg>
                            </span>
                        </div>
                    </div>
                }
                @if (TempData["SendToHRMessage"] != null)
                {

                    <div class="badge badge-lg badge-light-success" id="temp-message">
                        <strong></strong> @TempData["SendToHRMessage"]
                        <div class="btn btn-sm btn-icon btn-active-color-primary" id="close-btn">
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                                </svg>
                            </span>
                        </div>
                    </div>
                }
                @if (TempData["NotFoundUser"] != null)
                {

                    <div class="badge badge-lg badge-light-success" id="temp-message">
                        <strong></strong>@TempData["NotFoundUser"]
                        <div class="btn btn-sm btn-icon btn-active-color-primary" id="close-btn">
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                                </svg>
                            </span>
                        </div>
                    </div>
                }
                @if (TempData["NotFoundFeedback"] != null)
                {

                    <div class="badge badge-lg badge-light-success" id="temp-message">
                        <strong></strong>@TempData["NotFoundFeedback"]
                        <div class="btn btn-sm btn-icon btn-active-color-primary" id="close-btn">
                            <span class="svg-icon svg-icon-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                                </svg>
                            </span>
                        </div>
                    </div>
                }

             
            </div>
           
        </div>

    </div>
    
</div>

@section AdminScripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $(".footer").remove();
            $("#close-btn").click(function () {
                $("#temp-message").remove()
            })
        })
    </script>
}




